* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card{
  border: 1px solid rgb(181, 180, 180);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  height: 275px; 
  box-sizing: border-box;
  background-color: rgb(108, 217, 217);
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: large;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.card .card-title .header-text{
  font-size: large;
  margin-bottom: 10px;
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.header{
  color: black;
  text-align: center;
}

.header .header-text{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.main-page{
  background-color: rgb(122, 157, 233);
  margin: 0;
  padding: 0;
  border: solid rgb(216, 209, 209);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-header{
  background-color: blanchedalmond;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

}